services:
  portainer-ce:
    image: portainer/portainer-ce:lts
    container_name: portainer-ce
    #ports:
      #- 9443:9443
    environment:
      - TRUSTED_ORIGINS=portainer.tyler-clark.com
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.portainer.rule=Host(`portainer.tyler-clark.com`)
      - traefik.http.routers.portainer.tls=true
      - traefik.http.routers.portainer.tls.certresolver=cloudflare

networks:
  default:
    name: frontend
    external: true

